@font-face {
  font-family: 'Main';

  src: url("../Synthemesc-W00-Regular.ttf");
}
.navbar {
  width: 100%;
  overflow: auto;
}

 /* Navigation links */
 .navbar a {
  /* float: left; */
  /* padding: 12px; */
  font-family: 'Poppins', sans-serif !important;
  color: #150142;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four equal-width links with icon in the center. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /*If you want the text to be centered*/
    
  /* transition: all 1s ease-out; */

}


/* Add a background color on mouse-over */
.navbar a:hover {     
  color: white;
  overflow-x: hidden;
  transform: translateY(-5px);
  transition: all .1s ease-in;
  letter-spacing: .1em;
}

/* Style the current/active link */
.navbar a.active {
  font-weight: 600;
}

#background-image{
  background-image: url("../img/meagain2.png"); 
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

h1{
  font-family: 'Main';
  color: #150142;
}

#me{
  font-size: 20vh;
}


.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}  


#left-text{
  margin-top: 6em;
}
#gap{
gap: 1em;
}
.socials{
height: 50px;
width: 50px;
}
h6{
font-family: 'poppins';
font-weight: 400;
line-height: 1.5em;
text-justify: auto;
color: #150142;
}
h5{
font-family: 'poppins';
font-size: 18px;
}

@media (max-width: 1562px){
  #background-image{
   

      height: 115vh;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }

}
@media (max-width: 1250px){
  #background-image{
   

      height: 165vh;
      width: 100%;
      background-size: cover;
      background-position: left;
    }

}

@media (max-width: 1000px){
.float-child{
  width: 100%;
  padding: 0;
  text-align: center;
}
}