@font-face {
    font-family: 'Main';

    src: url("../Synthemesc-W00-Regular.ttf");
  }
  .navbar a {
    /* float: left; */
    /* padding: 12px; */
    font-family: 'Poppins', sans-serif !important;
    color: #8a72ff;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links with icon in the center. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /*If you want the text to be centered*/
      
    /* transition: all 1s ease-out; */
  
  }
  
  
  /* Add a background color on mouse-over */
  .navbar a:hover {     
    color: #4936b7;
    overflow-x: hidden;
    transform: translateY(-5px);
    transition: all .1s ease-in;
    font-weight: 600;
    letter-spacing: .1em;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    font-weight: 600;
  }

  #background-image{
    background-image: url("../img/meagain2.png");
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  h1{
    font-family: 'Main';
  }

#me{
    font-size: 20vh;
}


.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  


#left-text{
    margin-top: 6em;
}
#gap{
  gap: 1em;
}
.socials{
  height: 50px;
  width: 50px;
}

.socials:hover{
  transform: translateY(-5px) scale(1.02);
  transition: .3s all;
}

@media (max-width: 1562px){
    #background-image{
     

        height: 115vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
      }

}
@media (max-width: 1250px){
    #background-image{
     

        height: 165vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
      }
 
}

@media (max-width: 1000px){
  .float-child{
    width: 100%;
    padding: 0;
    text-align: center;
  }
}