.navbar {
    width: 100%;
    background-color: white;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color:linear-gradient(#ba9ef9,#cdb8fd) ;
  }
  
  /* Style the current/active link */
  .navbar a.active {
background: linear-gradient(#ba9ef9,#cdb8fd);

  }

  #background-image{
    background-image: url("../img/meagain2.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  




.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  


#left-text{
    margin-top: 6em;
}
#gap{
  gap: 1em;
}
.socials{
  height: 50px;
  width: 50px;
}