/* GLOBAL S*/
@font-face {
    font-family: 'Main';

    src: url("../Synthemesc-W00-Regular.ttf");
  }
/* GLOBAL E */

/* NAVBAR S */
.navbar a {
    /* float: left; */
    /* padding: 12px; */
    font-family: 'Poppins', sans-serif !important;
    color: #8a72ff;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links with icon in the center. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /*If you want the text to be centered*/
      
    /* transition: all 1s ease-out; */
  
  }
  
  
  /* Add a background color on mouse-over */
  .navbar a:hover {     
    color: #4936b7;
    overflow-x: hidden;
    transform: translateY(-5px);
    transition: all .1s ease-in;
    font-weight: 600;
    letter-spacing: .1em;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    font-weight: 600;
  }
  
/* NABAR E */

img{
    border-radius: 5%;
  }
  

/* GRID S */
.font-st{
    font-family: 'Main';
}
.me-ok{
    height: 250px;
    width: 250px;
}
.me-ok:hover{
    transform: rotate(15deg);
    transition: ease-in .2s;
}
#flexbox-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {


    display: grid;
    /* gap: 2em; */
    width: 90%;
    /* grid-auto-flow: revert; */

    grid-template-columns: repeat(3, 500px);
    justify-content: center;
    justify-items: center;
    gap: 1em;
}
#flex-box{
    display: flex;
    justify-content: center;
    width: 90%;

}
#ui-ux{
    width: 45%;
}
#graphic-design{
    width: 45%;
}

.purple{
    color: #ba9ef9;
}

.purp{
    color: #ba9ef9;
}

.purple:hover{
    color: #4936b7;
}

.purp:hover{
    color: #4936b7;
}


@media screen and (max-width: 1545px) {
    
    #grid {
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-auto-flow: revert;
        grid-template-columns: repeat(2, 400px);
        justify-content: center;
        justify-items: center;
        border-radius: 10%;
        /* padding-top: 7em; */
    }
    #ui-ux{
        font-family: 'Poppins', sans-serif !important;
        width: 25%;
    }
    #graphic-design{
        font-family: 'Poppins', sans-serif !important;
        width: 25%;
    }
    
    
    
}

@media screen and (max-width: 871px) {

    #grid {
        column-gap: 20px;
        display: grid;
        grid-auto-flow: revert;
        grid-template-columns: repeat(1, 400px);
        justify-content: center;
        justify-items: center;
        /* padding-top: 7em; */
    }

    .img7{
        height: auto;
        height: 250px  !important;
        width: 372.5px !important;
    }
    #flexbox-top{
        display: grid;
        grid-template-rows: repeat(1, 7em);
        justify-items: center;
    }
    .me-ok{
     display: none;
    }
}
.img7{
    height: 300px;
    width: 447px;
}
#card1:hover>#img7 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);



}
a:hover{
    cursor: pointer;
}
#card1{
    border: none;
}

.img7:hover{
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

}
/* GRID E */