/* GLOBAL S */

img{
    border-radius: 5%;
}
@font-face {
    font-family: 'Main';

    src: url("../Synthemesc-W00-Regular.ttf");
  }
  body{
    background-color:#f8f4ff;
    overflow-x: hidden;
}

nav{
    background-color: #ba9ef9 !important;
    font-family: 'Poppins', sans-serif !important;
}
/* GLOBAL E */
h1{
    font-family: 'Main';
}
#margin-for-ptag {
    margin-left: 38%;
    font-size: 25px;
}

#kclogo{
    border-radius: inherit;
}

/* #about:hover > .white { background-color: yellow; } */
/* #about:hover ~ .white { background-color: yellow; } */
/* #about:hover + .white { background-color: yellow; } */
/* #about:hover  .white { background-color: yellow; } */

.card {

    border: none !important;
    background: transparent;
}

#me-img{
    height: 30vh;
    width: 30vh;
}
.socials{
    height: 50px;
    width: 50px;
}
#about-me-text {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 12.5% 15px 15px 15px;
}

#selfie {
    border-radius: 10%;
    background-position: center center;
    margin-left: 6em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#grid {
    display: grid;
    gap: 7em;

    /* grid-auto-flow: revert; */

    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    justify-items: center;
}
.container-fluid{
    font-family: 'Poppins', sans-serif;
    padding: 0 !important;
}
#more-about-me-text {
    padding: 35px;
}
#box {
    /* position: absolute; */
    height: 100vh;
    padding: 0;
    width: 100%;
/* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
background: linear-gradient(#ba9ef9,#cdb8fd);
}
@media (max-width: 890px){
    #box{
    height: 60vh; 
    }
  }

@media screen and (max-width: 1203px) {

    #grid {
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-auto-flow: revert;
        grid-template-columns: repeat(2, 400px);
        justify-content: center;
        justify-items: center;
        border-radius: 10%;
        /* padding-top: 7em; */
    }


}

@media screen and (max-width: 871px) {

    #grid {
        display: grid;
        grid-auto-flow: revert;
        grid-template-columns: repeat(1, 400px);
        justify-content: center;
        justify-items: center;
        padding-bottom: 7em;
        /* padding-top: 7em; */
    }

    #selfie {
        margin: auto;
        padding: 10%;
    }

    
    }
.ts{
    width: 255px;
    height: 50px;
    border-radius: 35px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.ts:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    transform: scale(1.02) translateY(-4px);
    transition: ease-in .5s;
}

#linkedIcon {
    height: 100px;
    width: 100px;
    padding: 20px
}

#linkedIcon:hover {
    cursor: pointer;
}

#container:hover>#cube {
    background-color: yellow;
}

#card1:hover>#img1 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}



#card2:hover>#img2 {
    transform: scale(1.04);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}



#card3:hover>#img3 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}



#card4:hover>#img4 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}


#card5:hover>#img5 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}


#card6:hover>#img6 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}



#card7:hover>#img7 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}



#card8:hover>#img8 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}

#card9:hover>#img9 {
    transform: scale(1.02);
    transition: 500ms;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);


}
#footerSocials{
    gap: 1em;
}
/* img{
   border-radius: 60px 10px 60px 10px;
} */
.container-footer {
    height: 100px;
    width: 100%;
    /* Created with https://www.css-gradient.com */
        /* background: #EB801E;
        background: -webkit-linear-gradient(top left, #EB801E, #FFFF01);
        background: -moz-linear-gradient(top left, #EB801E, #FFFF01);
        background: linear-gradient(to bottom right, #EB801E, #FFFF01); */
        background-color: #F9E076;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* ////////////////////////////////////////////PROJECT 1  BEGINS////////////////////////////////////////////////////////////////////////////////*/

.image-container-hero{

    display: flex;
    justify-content: center;
    /* background-size: cover; */
}


#hero-image{
    width: 100%;
    max-width: 140vh;
    display: flex;
    justify-content: center;
}

#design{
    padding: 0% 20% 0% 20%;
}

#overview{
    padding: 0% 20% 0% 20%;
    margin-top: 3.5em;
    font-weight: 100;

}

#p1{
    padding: 0% 20% 0% 20%;
}


#container-p2{
    width:65%;
}

#container-p1{
    width: 65%;
}
.navbar-brand{
    /* margin-left: 50%; */
    padding: 0% 0% 0% 50%;
}

.navbar {
    width: 100%;
    background-color: #ba9ef9;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    /* float: left; */
    /* padding: 12px; */
    color: #8a72ff;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links with icon in the center. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /*If you want the text to be centered*/
    background-color:#ba9ef9 ;
      
    /* transition: all 1s ease-out; */

  }
  
  /* Add a background color on mouse-over */

    
    .navbar a:hover {
        
        color: white;
        overflow-x: hidden;
        transform: translateY(-5px);
        transition: all .1s ease-in;
        letter-spacing: .1em;
        
    }
  /* Style the current/active link */
  .navbar a.active {
           font-weight: 600;

  }
 
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */


  
.grid2 {
    display: grid;
    gap: 2.5em;
    
    /* grid-auto-flow: revert; */

    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    justify-items: center;
}


#img5{
    object-fit: cover;
    background-position: center center;

}

#second-pic{
    background-position: center center !important;
    width: 100%;
    max-width: 700px;
    margin-left: 1em;
    margin-right: 1em;
}

#phone-img{
    background-position: center center;
    align-content: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
}

#phonepix{
    display: flex;
    max-width:200px;
    align-content: center;
}
/* ////////////////////////////////////////////PROJECT 1  ENDS////////////////////////////////////////////////////////////////////////////////*/

/* //////////////////////////////////////////// KSF  Begins////////////////////////////////////////////////////////////////////////////////*/

#episodes{
    display: flex;
    width: 100%;
    max-width: 400px;
    margin-left: 2em;
    margin-right: 2em;
}

/* ////////////////////////////////////////////KSF ENDS////////////////////////////////////////////////////////////////////////////////*/

/* ////////////////////////////////////////////ABOUT  BEGINS////////////////////////////////////////////////////////////////////////////////*/

#mypic{
     width: 100%;
     max-width: 400px;
}

#aboutpage{
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
}

#about-p{
    padding-left: 2em;
}